<section id="test" class="section">
	<div class="container">
		<header class="section-header">
			<h2>Carnaval de <strong>Cadiz</strong></h2>
		</header>
		<ul class="format">
			<li>sdad</li>
			<li>dsadas</li>
			<li>dasdas</li>
		</ul>
	</div>
</section>