@import "variables";

html {
	position: relative;
	min-height: 100%;
	font-size: $font-size;
	@media(max-width: 767.98px) {
		font-size: $font-size-mobile;
	}
}

body {
	font-family: $font-family;
	color: $main-color;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
}

::-moz-selection { 
	background: rgba($primary-color, 0.8); 
	color: #ffffff!important; 
}
::selection { 
	background: rgba($primary-color, 0.8); 
	color: #ffffff!important; 
}

::-webkit-scrollbar {
    width: $scrollbar-width;
}
::-webkit-scrollbar-track {
    background: $scrollbar-track-background;
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-background;
    border-radius: 0;
}

.section {
	position: relative;
	padding-top: $section-padding;
	padding-bottom: $section-padding;
	&.small {
    	padding-top: $section-small-padding;
    	padding-bottom: $section-small-padding;
	}
	@media(max-width: 1199.98px) {
		padding-top: $section-padding*0.75;
		padding-bottom: $section-padding*0.75;
	}
	@media(max-width: 991.98px) {
		padding-top: $section-padding*0.5;
		padding-bottom: $section-padding*0.5;
	}
	@media(max-width: 767.98px) {
		padding-top: $section-padding*0.25;
		padding-bottom: $section-padding*0.25;
	}
}


// Basics

.section-header {
	margin-bottom: $section-header-margin;
	position: relative;
	
	@media(max-width: 767.98px) {
		margin-bottom: $section-header-margin*0.5;
		h2 {
			font-size: 2.2rem;
		}
	}
}

.section-footer {
	margin-top: $section-footer-margin;
		@media (max-width: 767.98px) {
			text-align: center;
			margin-top: $section-footer-margin*0.5;
	}
}

// Default Font styles

p {
	color: $main-color;
	margin: $margin-p;
	font-weight: $font-weight-p;
}

h1,h2,h3,h4,h5,h6 {
	margin: $margin-heading;
}

// Utilities

ul.format, ol.format {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.bg-img {
	position: absolute;
	z-index: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	margin: 0;
	img {
		width: 100%;
		height: 100%;
		@include object-fit;
	}
	&.left{
	    right: auto;
	    left: 0;
        width: 50%;
	}
	&.right{
	    left: auto;
	    right: 0;
        width: 50%;
	}
}