//Font Options
$font-family: "Nanum Gothic", Helvetica, Arial, sans-serif;
$font-size: 18px;
$font-size-mobile: ($font-size * 0.8);
$line-height-p: 1.6;
$font-weight-p: 400;
$margin-heading: 0 0 1.3rem;
$margin-p: 0 0 1.2rem;

//Theme Colors
$primary-color: #3c71b9;
$secondary-color: #80bfe9;
$third-color: #f4f2ee;
$main-color: #373636;

//Theme Spacing
$section-padding: 5rem; //80px if 1rem = 16px
$section-small-padding: 2rem;
$section-header-margin: 1.8rem;
$section-footer-margin: 1.8rem;

//Basics
$scrollbar-width: 4px;
$scrollbar-track-background: rgba(#fff,0.2);
$scrollbar-thumb-background: $primary-color - 30;

//Social Media Colors
$twitter: #00b6f1;
$facebook: #3b5998;
$google-plus: #df4a32;
$linkedin: #007bb6;
$youtube: #bb0000;
$instagram: #c32aa3;
$pinterest: #cb2027;
$skype: #00aff0;
$xing: #026466;

@import "mixins";