<header id="header">
  <div class="container-fluid">
    <div id="header-logo">
      <a href="/"></a>
    </div>
    <div id="header-navigation">
      <a href="#"><i class="fas fa-ellipsis-v"></i><span>menu</span></a> 
    </div>
  </div>
</header>